.container {
  display: flex;
  justify-content: space-between;

  .dropdown {
    position: absolute;
    top: 30px;
    right: 28px;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
    width: 100px;

    li {
      width: 100%;
      display: flex;
      justify-content: space-between;

      margin: 0;
      list-style: none;
      padding: 8px 12px;
      cursor: pointer;
      white-space: nowrap;
      color: var(--text);

      &:hover {
        background-color: var(--link);
      }
    }
  }

  .left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .image {
    width: 92px;
    height: 92px;
    border-radius: 50%;
  }

  .article {
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    position: relative;
    .themeBtn {
      border-radius: 999px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      transition: transform 0.2s ease-out;
      &:hover {
        background-color: var(--link);
        cursor: pointer;
      }
    }
    img {
      width: 20px;
      height: 20px;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-use-select: none;
      user-select: none;
    }
    .themeToggleLight {
      transition: transform 0.3s;
      transform: rotate(180deg);
    }
    .themeToggleDark {
      transition: transform 0.3s;
      transform: rotate(0deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .image {
      width: 80px;
      height: 80px;
    }
    .nav {
      gap: 16px;
      margin-top: 8px;
    }
    .right {
      gap: 12px;
      img {
        width: 16px;
        height: 16px;
        transition: transform 0.2s ease-out;
      }
    }
  }
}
